<div class="name">
  <p><%= @user.name%></p>

  <%= @user.roles.map{|role| role.name.capitalize}.join(", ") %>

    <% if @current_user.is_admin? %>
      <p>
      <%= link_to("Edit user", edit_user_path(@user)) %>
      </p>

      <p> <%= link_to("Delete user", user_path, method: "delete") %> </p>
    <% end %>

</div>